GOOSE_DRIVER=postgres | mysql | sqlite
GOOSE_USER=your_username
GOOSE_PASSWORD=your_password
GOOSE_DB=your_db
DATABASE_URL=postgresql://your_username:your_password@localhost:5432/your_db
GOOSE_MIGRATION_DIR=./migrations (your migration directory path)
SECRET_KEY=your-secret-key
FRONTEND_ORIGINS=['http://localhost:3000', 'http://your-frontend-domain.com'] (your frontend origins)

# R2 settings
R2_ACCOUNT_ID=your_r2_account_id
R2_ACCESS_KEY_ID=your_r2_access_key
R2_SECRET_ACCESS_KEY=your_r2_secret_key
R2_BUCKET=your_r2_bucket_name
R2_PUBLIC_BASE_URL=https://pub-something.r2.dev
