GOOSE_DRIVER=postgres | mysql | sqlite
GOOSE_USER=your_username
GOOSE_PASSWORD=your_password
GOOSE_DB=your_db
GOOSE_DBSTRING=postgresql://your_username:your_password@localhost:5432/your_db
GOOSE_MIGRATION_DIR=./migrations (your migration directory path)
SECRET_KEY=your-secret-key